@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Source+Code+Pro:ital@1&display=swap");

.profile-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-tertiary);
}

.content-padding {
  padding: 4em 2.5em 8em 2.5em;
}

.profile-image-container {
  margin-bottom: 4em;
  display: flex;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: max-content;
}
.badge-art {
  height: 25rem;
  width: 25rem;
  padding: 1rem;
  border-radius: 12.5rem 12.5rem 12.5rem 12.5rem;
  background-color: var(--main-badge-color);
}


.profile-image {
  height: 25rem;
  width: 25rem;
  opacity: 0;
  animation: profile-image-anim 1s ease-out 0s 1 forwards;
}

.all-projects-img{
  height: 200px;
  margin-left: 3rem;
  margin-right: 3rem;
}

@keyframes profile-image-anim {
  100%{
    opacity: 1;
  }
}

.name {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 10.3rem;
  line-height: 1.5;
  display: block;
  text-shadow: 4px 4px var(--primary-color), 5px 5px var(--secondary-color);
}

.tagline {
  color: var(--secondary-color);
  font-family: "Source Code Pro", monospace;
  font-size: 1.6rem;

}

.name:hover {
  text-shadow: 5px 5px var(--primary-color), 6px 6px var(--secondary-color);
}

.profile-icon {
  font-size: 1rem;
  filter: invert();
}

.profile-icon a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}


.name-responsive{
  display: none;
}

@media screen and (max-width: 1400px) {
  .name {
    font-size: 10.3rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 1100px) {
  .name {
    font-size: 8.3rem;
    line-height: 1.5;
  }
  
}

@media screen and (max-width: 900px) {
  .name {
    font-size: 6.3rem;
    line-height: 1.5;
  }

  .tagline {
  }
}

@media screen and (max-width: 700px) {
  .name {
    font-size: 5.6rem;
    line-height: 1.5;
  }

  .tagline {
  }


}

@media screen and (max-width: 600px) {
  .name {
    display: none;
    font-size: 7.3rem;
    line-height: 7rem;
  }

  .name-responsive{
    display: block;
  }

  .tagline {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .name {
    font-size: 6.5rem;
    line-height: 7rem;
  }

  .tagline {
  }

  

  .center-responsive{
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .name {
    font-size: 6rem;
    line-height: 7rem;
  }
  .tagline {
  }
}