<div class="container">
    <section class="profile-container">
        <div class="info-container">
            <h1 class="name">{{name}}</h1>
            <p class="tagline">{{tagline}}</p>
            <div class="social-profile-container">
                <mat-icon class="profile-icon"><a href="#">email</a></mat-icon>
                <mat-icon class="profile-icon"><a href="https://facebook.com">facebook</a></mat-icon>
            </div>
        </div>
        <div class="profile-image-container">
            <div class="badge-art">
                <img src="../../assets/circle-cropped.png" alt="profile image" class="profile-image">
            </div>
        </div>
    </section>

    <section>
        <h2>What do I do?</h2>
    </section>
</div>