<div class="rounded-box">
  <a href="{{project.projectLink}}" target="_blank">
  <div class="two-columns">
    <!-- <div class="project-card-col-2">
      <img class="project-display-img" src="{{project.imagePath}}" alt=""/>
    </div> -->
    <div class="project-card-col-1">
      <h2 class="rounded-box-title">{{project.title}}</h2>
      <p class="col-1 rounded-box-content">
        {{project.description}}
      </p>
      <h3 class="rounded-box-heading">Tech Stack</h3>
      <div class="horizontal-container">
        <img  *ngFor="let iconPath of project.techStack" src="{{iconPath}}" alt="" class="tech-stack-icon">
      </div>
    </div>
  </div>
  </a>
</div>
