<div class="heading-container">
  <h1 class="content-heading">Skills...</h1>
</div>
<div class="content-container">

  <app-bar-graph *ngFor="let barGraph of barGraphs" [barGraph]="barGraph"></app-bar-graph>
  
  <h2 class="subheading2">Other Technologies</h2>
  <div class="technologies-grid">
    <div *ngFor="let icon of otherTechnologies" class="icon-container icon-reveal">
        <img  src="{{icon.img}}" class="technology-icon" alt="{{icon.name}}">
        <p class="content" style="text-align: center;">{{ icon.name }}</p>
    </div>    
  </div>

  <button class="nav-button transition-background" [routerLink]="['/contact']">Contact Me</button>
  <button class="nav-button transition-background" [routerLink]="['/']">Profile</button>
</div>
