<div class="nav-container">
    <ul class="nav-menu">
        <li class="nav-menu-item"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
        >Me</li>
        <li class="nav-menu-item" [routerLink]="['/projects']"  routerLinkActive="active">Projects</li>
        <li class="nav-menu-item" [routerLink]="['/experience']" routerLinkActive="active">Experience</li>
        <li class="nav-menu-item" [routerLink]="['/skills']" routerLinkActive="active">Skills</li>
    </ul>
</div>