<ng-template #navContainer>
    <div class="nav-container" >
        <a [routerLink]="['/']" style="text-decoration: none;">
            <div class="logo-container">
                <h1 class="nav-logo">{{ initials }}</h1>
                <h2 class="nav-logo-tagline" style="color: var(--primary-color);">{{name}} <span class="nav-logo-tagline" style="color: var(--secondary-color);"> {{surname}}</span></h2>
            </div>
        </a>
        <ul class="nav-menu">
            <li class="nav-menu-item" [routerLink]="['/']" routerLinkActive="active" (click)="destinationChanged()" [routerLinkActiveOptions]="{exact: true}">Home</li>
            <li class="nav-menu-item" (click)="destinationChanged()" [routerLink]="['/experiences']"  routerLinkActive="active">Experience</li>
            <li class="nav-menu-item" (click)="destinationChanged()" [routerLink]="['/projects']"  routerLinkActive="active">Projects</li>
            <li class="nav-menu-item" (click)="destinationChanged()" [routerLink]="['/skills']" routerLinkActive="active">Skills</li>
            <li class="nav-menu-item" (click)="destinationChanged()" [routerLink]="['/contact']" routerLinkActive="active">Contact Me</li>
        </ul>
        <div class="social-icons-container">
            <ng-container *ngFor="let connectLink of connectLinks">
                <a class="link-icon" href="{{connectLink.link}}"><img src="{{connectLink.img}}" alt="{{connectLink.alt}}" class="profile-icon"></a>
            </ng-container>
        </div>
    </div>
</ng-template>


<div class="desktop-nav-container" >
    
        <a [routerLink]="['/']" class="logo-container-desktop" style="text-decoration: none;">
                <h1 class="nav-logo">{{ initials }}</h1></a>
        
        <ul class="nav-menu-desktop">
            <li class="nav-menu-item-desktop transition-background"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >Home</li>
            <li class="nav-menu-item-desktop transition-background" [routerLink]="['/experiences']"  routerLinkActive="active">Experience</li>
            <li class="nav-menu-item-desktop transition-background" [routerLink]="['/projects']"  routerLinkActive="active">Projects</li>
            <li class="nav-menu-item-desktop transition-background" [routerLink]="['/skills']" routerLinkActive="active">Skills</li>
        <li class="nav-menu-item-desktop transition-background" (click)="destinationChanged()" [routerLink]="['/contact']" routerLinkActive="active">Contact Me</li>
    </ul>
   
</div>

<div *ngIf="!menuExpanded else navContainer"></div>

<div *ngIf="!menuExpanded" class="hamburger-menu" (click)="hamburgerMenuClicked()">
    <img src="../../assets/menu.svg"  alt="">
    
</div>

<div *ngIf="menuExpanded" class="hamburger-menu" (click)="hamburgerMenuClicked()">
    <img src="../../assets/close.svg" alt="">
</div>