.nav-container{
    display: flex;
    position: fixed;
    left: 0;
    top:0;
    width: 13rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #302E2E;
}

.nav-menu{
    width: 100%;
    padding: 30px;
}

.nav-menu-item{
    
    list-style: none;
    display: block;
    text-align: center;
    color: #ED754F;
    padding: 6px 0px 6px 0px;
    font-family: 'Courier New', Courier, monospace;
}

.active{
    background-color: #505050;
}
.nav-menu-item:hover{
    background-color: #707070;
}
