@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Source+Code+Pro:ital@1&display=swap");

.profile-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-secondary);

}

.header{
  display: flex;
  flex-basis: 500px;
  height: max-content;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.verticle-divider{
  border: 2px solid var(--secondary-color);
}

.verticle-divider-large {
  margin: 3rem 0;
  height: 300px;
}

.verticle-divider-small {
  margin: 0 2rem 0 0;
  height: 100%;
  display: none;
}

.content-padding {
   padding: 4em 10% 8em 10%;
}

.profile-image-container {
  /* margin-bottom: 4em; */
  display: flex;
}

.info-container {
  display: flex;
  flex-direction: column;  
}

.info-wrapper {
  display: flex;
  flex-direction: row;  
}

.badge-art {
  height: 25rem;
  width: 25rem;
  padding: 1rem;
  border-radius: 12.5rem 12.5rem 12.5rem 12.5rem;
  background-color: var(--main-badge-color);
}


.profile-image {
  height: 25rem;
  width: 25rem;
  opacity: 0;
  animation: profile-image-anim 1s ease-out 0s 1 forwards;
}

.all-projects-img{
  height: 200px;
  margin-left: 3rem;
  margin-right: 3rem;
}

@keyframes profile-image-anim {
  100%{
    opacity: 1;
  }
}

.name-heading{
  color: white;
  font-family: "Raleway", sans-serif;
  text-shadow: 3px 3px var(--primary-color);
  display: block;
}

.name{
  font-size: 6rem;
  line-height: 1.5;
}

.tagline-container{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tagline {
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  max-width: 100%;
}

.greetings-line {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.name:hover {
  text-shadow: 5px 5px var(--primary-color), 6px 6px var(--secondary-color);
}


.name-responsive{
  display: none;
}

@media screen and (max-width: 1450px) {

  .name{
    font-size: 5rem;
  }

  .header{
    gap: 5rem;
  }

}



@media screen and (max-width: 1360px) {
  .verticle-divider{
    display: none;
  }

  .verticle-divider-small {
    display: inline;
  }

  .header{
    flex-direction: column;
    gap: 3.5rem;
  }

  .name{
    font-size: 5rem;
  }

  .center-responsive{
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-width: 900px) {

  .content-padding{
    padding: 4em 1.5em 8em 1.5em;
  }

  .name {
    font-size: 4.5rem;
    text-shadow: 2px 2px var(--primary-color);
  }
}

@media screen and (max-width: 700px) {

  .name{
    font-size: 4rem;
  }

  .tagline{
    font-size: 1.2rem;
  }

  .greetings-line{
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {

  .name{
    font-size: 3.7rem;
  }
}

@media screen and (max-width: 550px) {
 
  .center-responsive{
    justify-content: center;
    align-items: center;
  }

  .name{
    font-size: 3.2rem;
  }

}

@media screen and (max-width: 375px) {

  .name{
    font-size: 3rem;
  }
}